---
import CardServices from "../components/molecules/CardServices.astro";
import ClientLogoRow from "../components/molecules/ClientLogoRow.astro";

import MainLayouts from "../layouts/MainLayouts.astro";
import "../styles/global.css";
---

<MainLayouts>
  <h1 class="heading-display">Trine bygger</h1>

  <article>
    <ClientLogoRow LogoName="butterfly" />
  </article>
</MainLayouts>
