---
import MainLayouts from "../layouts/MainLayouts.astro";
import Link from "../components/atoms/Link.astro";
import NavLink from "../components/atoms/NavLink.astro";
import "../styles/global.css";
---

<MainLayouts>
  <article>
    <h1 class="heading-display">Trine tester side - About</h1>
    <NavLink href="" variant="MainPage">Klik her</NavLink>
    <NavLink href="" variant="SubPage">Klik her</NavLink>
    <Link href="" variant="ButtonPrimary" size="large">Klik her!</Link>
    <Link href="" variant="ButtonPrimary" size="base">Klik her!</Link>
    <Link href="" variant="ButtonSecondary" size="large">Klik her!</Link>
    <Link href="" variant="ButtonSecondary" size="base">Klik her!</Link>
    <Link href="" variant="LinkPrimary" size="large">Dette er et link</Link>
  </article>
  <!-- <article class="grid gap-10">
    <ClientLogoRow variant="primary" LogoName1="bornholm" LogoName2="koncerthuset" LogoName3="orsted" LogoName4="vestas" LogoName5="hofor" LogoName6="koncerthuset" LogoName7="orsted" LogoName8="vestas" LogoName9="hofor" />
    <ClientLogoRow variant="secondary" LogoName1="orsted" LogoName2="vestas" LogoName3="bornholm" LogoName4="orsted" LogoName5="koncerthuset" LogoName6="vestas" LogoName7="koncerthuset" LogoName8="hofor" LogoName9="bornholm" />
    <ClientLogoRow variant="primary" LogoName1="koncerthuset" LogoName2="orsted" LogoName3="vestas" LogoName4="hofor" LogoName5="bornholm" LogoName6="koncerthuset" LogoName7="orsted" LogoName8="vestas" LogoName9="hofor" />
  </article> -->
</MainLayouts>
