---
import CardServices from "../components/molecules/CardServices.astro";
import ClientLogoRow from "../components/molecules/ClientLogoRow.astro";

import MainLayouts from "../layouts/MainLayouts.astro";
import "../styles/global.css";
---

<MainLayouts>
  <h1 class="heading-display">Trine bygger</h1>

  <article>
    <ClientLogoRow LogoName1="bornholm" LogoName2="bornholm" LogoName3="bornholm" LogoName4="bornholm" LogoName5="bornholm" LogoName6="bornholm" LogoName7="bornholm" LogoName8="bornholm" />
    <ClientLogoRow LogoName1="bornholm" LogoName2="bornholm" LogoName3="bornholm" LogoName4="bornholm" LogoName5="bornholm" LogoName6="bornholm" LogoName7="bornholm" LogoName8="bornholm" />
    <ClientLogoRow LogoName1="bornholm" LogoName2="bornholm" LogoName3="bornholm" LogoName4="bornholm" LogoName5="bornholm" LogoName6="bornholm" LogoName7="bornholm" LogoName8="bornholm" />
  </article>
</MainLayouts>
