---
import MainLayouts from "../layouts/MainLayouts.astro";
import Link from "../components/atoms/Link.astro";
import NavLink from "../components/atoms/NavLink.astro";
import "../styles/global.css";
---

<MainLayouts>
  <article>
    <h1 class="heading-display">Trine tester side - About</h1>
    <NavLink href="" variant="MainPage">Klik her</NavLink>
    <NavLink href="" variant="SubPage">Klik her</NavLink>
    <Link href="" variant="ButtonPrimary" size="large">Klik her!</Link>
    <Link href="" variant="ButtonPrimary" size="base">Klik her!</Link>
    <Link href="" variant="ButtonSecondary" size="large">Klik her!</Link>
    <Link href="" variant="ButtonSecondary" size="base">Klik her!</Link>
    <Link href="" variant="LinkPrimary" size="large">Dette er et link</Link>
  </article>
</MainLayouts>
