---
import CardServices from "../components/molecules/CardServices.astro";
import MainLayouts from "../layouts/MainLayouts.astro";
import "../styles/global.css";
---

<MainLayouts>
  <h1 class="heading-display">Sif Bygger - Digitalt bureau</h1>
  <CardServices>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque illo repudiandae iusto esse obcaecati perferendis enim sunt quos hic? Excepturi, veniam sint! Dignissimos, maxime. Quod provident voluptatem ipsam inventore enim? </CardServices>
</MainLayouts>
