---
import MainLayouts from "../layouts/MainLayouts.astro";

import CardCases from "../components/molecules/CardCases.astro";
import CardServices from "../components/molecules/CardServices.astro";
import ContactOverlay from "../components/organisms/ContactOverlay.astro";
import "../styles/global.css";

import cases from "../data/cases.json";
import services from "../data/services.json";
import ScrollingContainer from "../components/organisms/ScrollingContainer.astro";

console.log(services);
---

<MainLayouts>
  <h1 class="heading-display">Sif Bygger - Digitalt bureau</h1>
  <section class="py-32 grid grid-cols-[4fr_8fr]">
    <div>
      <h2 class="heading-tagline">Tagline</h2>
      <p class="text-heading-small"></p>
    </div>
    <ul class="grid grid-cols-2 gap-5">
      <!-- {
        services.map((service) => {
          return <CardServices data={service} />;
        })
      } -->
      <CardServices text="Vores mål er at gøre komplekse ideer letforståelige og skabe design, der ikke kun er æstetisk tiltalende, men også funktionelt stærke." />
      <CardServices text="Vi ved, at integration er tricky og tidskrævende. Derfor bygger vi solide integrationer, der er både pålidelige og effektive – så dine systemer spiller sammen, uanset om de er nye eller allerede i drift." />
      <CardServices text="Gennem webudvikling kan vi hjælpe dig med at bygge selve det digitale system. Vi udvikler og transformerer forretningsidéer, planer og virksomhedskoncepter til tilpassede og skræddersyede digitale løsninger." />
      <CardServices text="Vi holder øje med dine løsninger, før fejlene opstår – med løbende opdateringer, overvågning og et nørdet fokus på stabil og sikker drift." />
    </ul>
  </section>
  <section class="pb-32">
    <ul class="grid grid-cols-4 gap-5">
      <CardServices text="Vores mål er at gøre komplekse ideer letforståelige og skabe design, der ikke kun er æstetisk tiltalende, men også funktionelt stærke." />
      <CardServices text="Vi ved, at integration er tricky og tidskrævende. Derfor bygger vi solide integrationer, der er både pålidelige og effektive – så dine systemer spiller sammen, uanset om de er nye eller allerede i drift." />
      <CardServices text="Gennem webudvikling kan vi hjælpe dig med at bygge selve det digitale system. Vi udvikler og transformerer forretningsidéer, planer og virksomhedskoncepter til tilpassede og skræddersyede digitale løsninger." />
      <CardServices text="Vi holder øje med dine løsninger, før fejlene opstår – med løbende opdateringer, overvågning og et nørdet fokus på stabil og sikker drift." />
    </ul>
  </section>
  <section class="py-32">
    <ul class="grid grid-cols-[3fr_5fr_4fr] gap-5">
      {
        cases.map((oneCase) => {
          return <CardCases data={oneCase} variant={oneCase.thumbnail} />;
        })
      }
    </ul>
  </section>
  <section class="full-bleed py-32">
    <ScrollingContainer />
  </section>
  <section class="py-32 bg-cream-35">
    <button popovertarget="contact_popover" class="p-4 bg-button-secondary-background cursor-pointer">Popover</button>
  </section>
  <ContactOverlay />
</MainLayouts>
