---
import MainLayouts from "../layouts/MainLayouts.astro";

import CardCases from "../components/molecules/CardCases.astro";
import CardServices from "../components/molecules/CardServices.astro";
import "../styles/global.css";

import cases from "../data/cases.json";
import ScrollingContainer from "../components/organisms/ScrollingContainer.astro";
---

<MainLayouts>
  <h1 class="heading-display">Sif Bygger - Digitalt bureau</h1>
  <CardServices>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque illo repudiandae iusto esse obcaecati perferendis enim sunt quos hic? Excepturi, veniam sint! Dignissimos, maxime. Quod provident voluptatem ipsam inventore enim? </CardServices>
  <section class="py-32">
    <ul class="grid grid-cols-[3fr_5fr_4fr] gap-5">
      {
        cases.map((oneCase) => {
          return <CardCases data={oneCase} variant={oneCase.thumbnail} />;
        })
      }
    </ul>
  </section>
  <section class="full-bleed py-32">
    <ScrollingContainer />
  </section>
</MainLayouts>
