---
const { variant = "primary", size = "large" } = Astro.props;

const buttonStyling = "";

const variantClasses = {
  primary: "text-cream-10 bg-raspberry-50 hover:bg-raspberry-65 active:bg-raspberry-80",
  secondary: "text-licorice-90 bg-cream-20 border-cream-60 border-1 hover:bg-cream-10 active:bg-cream-35",
};

const sizeClasses = {
  base: "px-5 py-2",
  large: "px-8 py-3",
};
---

<div>
  <button class:list={[buttonStyling, variantClasses[variant], sizeClasses[size]]}><slot /></button>
</div>
