---
import { Icon } from "astro-icon/components";
const { LogoName } = Astro.props;
---

<div class="w-[160px] h-[90px] px-6 py-5 border-2 border-border-secondary rounded-small flex items-center justify-center">
  <Icon name={LogoName} class="w-[70px] h-auto text-text-primary" />
</div>
