---
const { href = "#", target = "_self", variant = "ButtonPrimary", size = "base" } = Astro.props;

const linkStyling = "rounded-full text-body-base";

const variantClasses = {
  ButtonPrimary: "text-button-primary-text bg-button-primary-background hover:bg-button-primary-background-hover active:bg-button-primary-background-pressed focus:outline-offset-4",
  ButtonSecondary: "text-button-secondary-text bg-button-secondary-background border-button-secondary-border border-1 hover:bg-button-secondary-background-hover active:bg-button-secondary-background-pressed focus:outline-offset-4",
  LinkPrimary: "underline text-link-text hover:text-link-text-hover visited:text-link-text-visited focus:outline-offset-4",
};

const sizeClasses = {
  base: "px-5 py-2",
  large: "px-8 py-3",
};
---

<a href={href} class="" target={target} class:list={[linkStyling, variantClasses[variant], sizeClasses[size]]}><slot /></a>
