---
const { href = "#", target = "_self", variant = "MainPage" } = Astro.props;

const linkStyling = "rounded-full text-body-base";

const variantClasses = {
  MainPage: "text-licorice-90 hover:text-licorice-10 active:underlinde-raspberry-50 focus:outline-offset-4",
  SubPage: "text-licorice-90 active:text-licorice-90 active:underline-raspberry-50 focus:outline-offset-4",
};
---

<a href={href} class="" target={target} class:list={[linkStyling, variantClasses[variant]]}><slot /></a>
