---
import { Icon } from "astro-icon/components";

const { variant = "vertical" } = Astro.props;

// const variantClasses = {
//   horizontal: "flex justify-between self-center",
//   vertical: "flex-col justify-between self-center",
// };

// const sizeIcon = {
//     small: "",
//     big: ""
// }
---

<article class="bg-background-secondary p-8 rounded-small grid gap-16 max-w-2xl">
  <header class="flex justify-between self-center">
    <h3 class="text-heading-small">Design</h3>
    <Icon name="butterfly" class="text-heading-medium" />
  </header>
  <slot />
</article>
