---
import ClientLogoRow from "../molecules/ClientLogoRow.astro";
---

<section class="grid gap-10 full-bleed">
  <ClientLogoRow variant="primary" LogoName1="bornholm" LogoName2="koncerthuset" LogoName3="orsted" LogoName4="vestas" LogoName5="hofor" LogoName6="koncerthuset" LogoName7="orsted" LogoName8="vestas" LogoName9="hofor" LogoName10="hofor" LogoName11="hofor" LogoName12="hofor" />
  <ClientLogoRow variant="secondary" LogoName1="orsted" LogoName2="vestas" LogoName3="bornholm" LogoName4="orsted" LogoName5="koncerthuset" LogoName6="vestas" LogoName7="koncerthuset" LogoName8="hofor" LogoName9="bornholm" LogoName10="hofor" LogoName11="hofor" LogoName12="hofor" />
  <ClientLogoRow variant="primary" LogoName1="koncerthuset" LogoName2="orsted" LogoName3="vestas" LogoName4="hofor" LogoName5="bornholm" LogoName6="koncerthuset" LogoName7="orsted" LogoName8="vestas" LogoName9="hofor" LogoName10="hofor" LogoName11="hofor" LogoName12="hofor" />
</section>
