---
import ContactInformation from "./ContactInformation.astro";
import ContactMessageform from "./ContactMessageform.astro";
import Button from "../atoms/Button.astro";
---

<!-- <div popover id="contact_popover"> -->
<div class="grid grid-cols-[2fr_1fr_auto] gap-5 items-start">
  <ContactInformation />
  <ContactMessageform />
  <Button variant="secondary" color="secondary" />
</div>
