---
import { Icon } from "astro-icon/components";

const { title, text } = Astro.props;
---

<section class="grid lg:grid-cols-12 lg:grid-rows-4 relative auto-cols-auto auto-rows-auto">
  <article class="lg:col-start-1 lg:col-span-6 lg:row-start-1 lg:row-span-4 p-6 lg:p-28">
    <h1 class="text-heading-xlarge pb-3 lg:pb-5">{title}</h1>
    <p class="text-body-large text-text-secondary max-w-2xl">{text}</p>
  </article>
  <div class="lg:col-start-8 lg:row-start-3"><Icon name="butterfly" class="w-graphic-small h-graphic-small" /></div>
  <div class="lg:col-start-10 lg:row-start-3 lg:row-end-6"><Icon name="flower" class="w-graphic-large h-graphic-large" /></div>
  <div class="lg:col-start-5 lg:row-start-1 lg:row-span-2 absolute top-[-5vh]"><Icon name="fan" class="w-graphic-medium h-graphic-medium" /></div>
  <div class="lg:col-start-1 lg:row-start-4 absolute left-[-5vw]"><Icon name="square" class="w-graphic-medium h-graphic-medium" /></div>
</section>
