---
const { title, text } = Astro.props;
---

<section class="m-6 lg:m-28">
  <article>
    <h1 class="text-heading-xlarge pb-3 lg:pb-5">{title}</h1>
    <p class="text-body-large text-text-secondary max-w-2xl">{text}</p>
  </article>
</section>
