---
import { Icon } from "astro-icon/components";
---

<section>
  <article>
    <h1><span>Digitalt</span> <span>Bureau</span></h1>
    <p><span><Icon name="butterfly" role="img" aria-label="Twentyfour" /></span><span>har fokus på løsninger,</span><span>der passer til dig</span></p>
  </article>
</section>
